extends ../layout/common.pug

block append scripts
  script.
    const stripe = Stripe('pk_test_EK3xA550LVBK2s7PTQYUFMgu');
    
    const elements = stripe.elements();
  
block content
  //- data-image="/images/marketplace.png"
  form(action="/account/subscribe", method="POST")
    script(
        src="https://checkout.stripe.com/checkout.js"
      , class="stripe-button"
      , data-key="pk_test_EK3xA550LVBK2s7PTQYUFMgu"
      , data-name="Tailf 1GB"
      , data-description="A monthly quota of 1GB"
      , data-amount="500"
      , data-label="Sign Me Up!"
    )
