html
  head
    link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/asciinema-player/2.4.1/asciinema-player.css", integrity="sha256-U2HhSg0ho9FDR5zC8i+mH5P2RygjUFZCVB8hA5GLB/w=", crossorigin="anonymous")
  body
    asciinema-player(src=url)
    script(src="https://cdnjs.cloudflare.com/ajax/libs/asciinema-player/2.4.1/asciinema-player.js", integrity="sha256-Puk+D1373+/JkdxNQqivufEPzNSQI9IS1VgJCIYDE+k=", crossorigin="anonymous")
