extends layout.pug

block append stylesheets
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css", integrity="sha256-3YM6A3pH4QFCl9WbSU8oXF5N6W/2ylvW0o2g+Z6TmLQ=", crossorigin="anonymous")

block append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js", integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js", integrity="sha256-sZa6ttk3lwj5MNkWzq2VrQ6WFB965Gn0uLe3oUBH2Iw=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js", integrity="sha256-fTZir3QtRzPrhH5KyHm/0hsQqTDswmqYFhXOPN05ulw=", crossorigin="anonymous")
  script.
    hljs.initHighlightingOnLoad();

block content
  .container
    header.navbar.navbar-light.navbar-static-top
      a.navbar-brand Tailf.io
      
    .jumbotron
      h1.display-3 Tailf.io
        | &nbsp;&nbsp;
        i.fa.fa-fire
      p.small #{humanize.filesize(size)}
      pre
        code.bash
          | npm install tailf.io-cli
      pre
        code.bash
          | ls -hal / | tailf.io
          |
          span(style="background-color: #d33682; color: #fff; padding: 3px 0px 1px;")= " tailf.io > "
          |  https://tailf.io/log/GN3eyV7y3FDLSPZJFZfwFOhGdhrc6XkE
  //-       
  //- .container
  //-   .row 
  //-     .col-sm-3
  //-       .card
  //-         .card-block
  //-           h4.card-title Free
  //-           //- p Anonymouse access
  //-           //- p unlimited log files, max #{humanize.filesize(limit_per_file)} per file
  //-         ul.list-group.list-group-flush
  //-           li.list-group-item Max #{humanize.filesize(limit_per_file, undefined, 0)} per file
  //-           li.list-group-item Unlimited storage
  //-           li.list-group-item 1 day retention
  //-           
  //-     .col-sm-3
  //-       .card
  //-         .card-block
  //-           h4.card-title 1 GB / $5
  //-         ul.list-group.list-group-flush
  //-           li.list-group-item Max 10MB per file
  //-           li.list-group-item 1 GB Storage
  //-           li.list-group-item 1 month retention
  //-         .card-block.text-right
  //-           form(action="/account/subscribe", method="POST")
  //-             script(
  //-               src="https://checkout.stripe.com/checkout.js"
  //-               , class="stripe-button"
  //-               , data-key="pk_test_EK3xA550LVBK2s7PTQYUFMgu"
  //-               , data-name="TAILF 1GB"
  //-               , data-description="1GB, 10mb per file, 1 month retention"
  //-               , data-amount="500"
  //-               , data-label="Sign Up!"
  //-             )
  //-             
  //-     .col-sm-3
  //-       .card
  //-         .card-block
  //-           h4.card-title 3 GB / $12
  //-         ul.list-group.list-group-flush
  //-           li.list-group-item Max 25MB per file
  //-           li.list-group-item 2 GB Storage
  //-           li.list-group-item 1 month retention
  //-         .card-block.text-right
  //-           form(action="/account/subscribe", method="POST")
  //-             script(
  //-               src="https://checkout.stripe.com/checkout.js"
  //-               , class="stripe-button"
  //-               , data-key="pk_test_EK3xA550LVBK2s7PTQYUFMgu"
  //-               , data-name="TAILF 3GB"
  //-               , data-description="3GB, 25mb per file, 1 month retention"
  //-               , data-amount="1200"
  //-               , data-label="Sign Up!"
  //-             )
  //- 
  //-     .col-sm-3
  //-       .card
  //-         .card-block
  //-           h4.card-title 5 GB / $35
  //-         ul.list-group.list-group-flush
  //-           li.list-group-item Max 200MB per file
  //-           li.list-group-item 5 GB Storage
  //-           li.list-group-item 2 month retention
  //-         .card-block.text-right
  //-           form(action="/account/subscribe", method="POST")
  //-             script(
  //-               src="https://checkout.stripe.com/checkout.js"
  //-               , class="stripe-button"
  //-               , data-key="pk_test_EK3xA550LVBK2s7PTQYUFMgu"
  //-               , data-name="TAILF 5GB"
  //-               , data-description="5GB, 100mb per file, 2 month retention"
  //-               , data-amount="3500"
  //-               , data-label="Sign Up!"
  //-             )
