extends ./layout/common.pug

block append stylesheets
  link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css", integrity="sha256-3YM6A3pH4QFCl9WbSU8oXF5N6W/2ylvW0o2g+Z6TmLQ=", crossorigin="anonymous")
  style.
    .container {
      margin-bottom: 2em;
    }

block append scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js", integrity="sha256-/BfiIkHlHoVihZdc6TFuj7MmJ0TWcWsMXkeDFwhi0zw=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/javascript.min.js", integrity="sha256-sZa6ttk3lwj5MNkWzq2VrQ6WFB965Gn0uLe3oUBH2Iw=", crossorigin="anonymous")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/bash.min.js", integrity="sha256-fTZir3QtRzPrhH5KyHm/0hsQqTDswmqYFhXOPN05ulw=", crossorigin="anonymous")
  script.
    hljs.initHighlightingOnLoad();

block content
  .container
    .jumbotron
      h1.display-1 tailf.io
      h2 tail -f for the cloud

  .container
    :markdown-it(html=true)
      ##### WHY

      You run processes in the cloud and you want to `monitor` and `share` their logs.


  .container
    :markdown-it(html=true)
      ##### TERMINAL PIPE
      Install the tailf.io CLI

      ```bash
      npm install tailf.io-cli
      ```

      Run a command and pipe it to tailf.io
      <pre><code>ls -hal / | tailf.io

      <span style="background-color: #d33682; color: #fff; padding: 4px 0px">&nbsp;tailf.io >&nbsp;</span> https://tailf.io/uHo5qEc96R0rLWEAgMmT1nXoHkjDzcwS
      </code></pre>

  .container
    :markdown-it(html=true)
      ##### STREAM DOCKER
      Install the tailf.io CLI

      ```bash
      npm install tailf.io-cli
      ```

      <pre><code>docker logs 87d3698e5dab --follow | tailf.io

      <span style="background-color: #d33682; color: #fff; padding: 4px 0px">&nbsp;tailf.io >&nbsp;</span> https://tailf.io/uHo5qEc96R0rLWEAgMmT1nXoHkjDzcwS
      </code></pre>

  .container
    :markdown-it
      ##### STREAM DOCKER PROGRAMMATICALLY
      Install the tailf.io SDK

      ```bash
      npm install tailf.io-sdk
      ```

      ```javascript
      let { Producer } = require('tailf.io-sdk');

      let tailf               = new Producer()
        , { stdout, stderr }  = tailf.streams();
        ;

      // assumes container is a dockerode (https://github.com/apocas/dockerode) container instance
      container
        .attach({ stream : true, stdout : true, stderr : true}, (stream) => {
          container.modem.demuxStream(stream, stdout, stderr);
        });

      tailf.uri((err, uri) => {
        console.log(uri);
        // will console.log https://tailf.io/uHo5qEc96R0rLWEAgMmT1nXoHkjDzcwS
      });

      ```
