extends minimal.pug

block header
  .container
    header.navbar.navbar-expand-lg.navbar-light.navbar-light
      a.navbar-brand(href='/') Tailf.io
      ul.navbar-nav
        li.nav-item.active
          a.nav-link(href="/docs") Documentation
          #TAILFIO_HEADER
